<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./about.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Acerca de</title>
</head>
<body>
  <header class="header">
    <a href="/index.html" class="logo">RC</a>
    <input type="checkbox" id="side-menu" class="side-menu" />
    <label for="side-menu" class="hamb"
      ><span class="hamb-line"></span
    ></label>
    <nav class="nav">
      <ul class="menu">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/assets/components/about/about.html">Acerca de</a></li>
        <li><a href="/assets/components/reviews/reviews.html">Reseñas</a></li>
        <li><a href="/assets/components/contact/contact.html">Contáctenos</a></li>
      </ul>
    </nav>
  </header>

  <section class="banner-home">
    <div class="text-banner">
      <h1>RCBOK</h1>
      <hr />
      <h2>BLOG</h2>
    </div>
  </section>
  <br>
<hr>
<br>
  <section class="info-container">
  <img src="/assets/images/inspo.gif" alt="gif">
    
    <div class="info-content">
      <h2>Proposito</h2>
      <p>A través de nuestro blog, buscamos proporcionar contenido enriquecedor, reseñas de libros, recomendaciones y artículos temáticos que inspiren y conecten a los lectores con historias fascinantes. Nuestra meta es crear una comunidad literaria vibrante, donde los lectores puedan explorar nuevas obras, intercambiar ideas y descubrir diferentes perspectivas. </p> 
      </div>
  </section>

  <hr>
  <br>

  <section class="banner-about">
    <div>
    </div>
  </section>

  <section class="post-container">
    <div class="post-content">
      <h3>Inspirate</h3>
          <p> Encuentra la inspiración en cada palabra y déjate llevar por la magia de la lectura. ¡Acompáñanos en este viaje literario que te llevará a lugares inimaginables!"</p>
        </div>
       
  </section>
<section class="images-container">
  <div class="images-content"></div>
  <img src="/assets/images/libro-2.jpg" alt="Brittanny Cavallaro">
  <img src="/assets/images/libro-3.jpg" alt="Brittanny Cavallaro">
  <img src="/assets/images/libro-4.jpg" alt="Brittanny Cavallaro">
  <img src="/assets/images/libro-5.jpg" alt="Brittanny Cavallaro">
  <img src="/assets/images/libro-7.jpg" alt="Brittanny Cavallaro">

</section>
    <br>
<footer>
  <p>&copy; 2023, Desarrolladora Natalia Diaz - Todos los derechos reservados</p>
</footer>

</body>

